@import '~bootstrap/scss/bootstrap';

@keyframes fadeIn {
  from{
    opacity: 0;
  }
}

@keyframes fadeOut {
  to{
    opacity: 0;
  }
}

@keyframes initLink {
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes selectLink {
  to{
    stroke-dashoffset: -100%;
  }
}

@keyframes removeLink {
  from{
    stroke-dashoffset: 0;
  }
}